<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .wrapper { display: flex;
                flex-wrap: wrap;
                justify-content: flex-end; }

            .div1 { flex-basis: 25%; }
            .div2 { flex-basis: 50%; }
            .div3 { flex-basis: 75%; }
            .div4 { flex-basis: 100%; }
            
            h1 {text-align: center;}
            h2 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>Compare Playlists: {{ playlists }} </h1>
    <hr>

    <body>
        <h2>Playlist Intersection</h2>
        <h3>There are {{ length }} songs that intersect these playlists</h3>
        {% if length > 0 %}
            {{ boxplot }}
        {% endif %}
        <hr>

        <h2>Playlist Timelines</h2>
        {{ playlist_timelines }}
        <hr>

        <h2>Playlists' Genres</h2>
        {{ genres }}
        <hr>
    </body>

</html>