<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .wrapper { display: flex;
                flex-wrap: wrap;
                justify-content: flex-end; }

            .div1 { flex-basis: 25%; }
            .div2 { flex-basis: 50%; }
            .div3 { flex-basis: 75%; }
            .div4 { flex-basis: 100%; }

            h1 {text-align: center;}
            h2 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>Analysis of Artist: {{ artist_name }}</h1>
    <hr>

    <body>
        <h2>Artist Timeline</h2>
        {{timeline}}
        <hr>

        <h2>Artist Top 50 Rankings</h2>
        {{top_rank_table}}
        <hr>

        <h2>Artist Top Playlists & Songs</h2>
        <div class="wrapper">
            <div class="div div2">
                {{ top_playlists }}
            </div>
            {% if top_songs %}
            <div class="div div2">
                {{ top_songs }}
            </div>
            {% endif %}
        </div>
        <hr>

        <h2>Artist Audio Features</h2>
        {{ features_boxplot }}
        <hr>

        <h2>Artist Genres</h2>
        <h2>{{ artist_genres }}</h2>
        {{ playlists_genres }}
        
    </body>

</html>