<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>

    <body>
        <h1>Get songs that appear in multiple playlists!</h1>
        <h3>Enter 2 or more of the following playlists separated by commas (not-case-sensitive):</h3>
        <h3>For example, you may enter: Playlist1, playlist2</h3>

        <form class="example" method="post" action="/playlist_intersection" 
            style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search for one of the playlists below" name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul>
        {% for item in playlists %}
            <li>{{item}}</li>
        {% endfor %}
        </ul>

    </body>

</html>