<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .wrapper { display: flex;
                flex-wrap: wrap;
                justify-content: flex-end; }

            .div1 { flex-basis: 25%; }
            .div2 { flex-basis: 50%; }
            .div3 { flex-basis: 75%; }
            .div4 { flex-basis: 100%; }
            
            h1 {text-align: center;}
            h2 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>Compare Playlists: {{ playlists }} </h1>

    <body>
        <h2>Playlist Intersection</h2>
        <b>There are {{ length }} songs that appear in the following playlists: {{ playlists }}</b>
        {% if length > 0 %}
            <ul>
            {% for item in df %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <hr>

        <h2>Playlist Timelines</h2>
        <div class="wrapper">
            <div class="div div2">
                {{ playlist_timelines }}
            </div>
            <div class="div div2">
                {{ playlist_timelines_continuous }}
            </div>
        </div>
        <hr>
    </body>

</html>