<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
        /* h1 {text-align: center;}
        h2 {text-align: center;} */
        a {font-size: 18px;}

    </style>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    <h1>Hi {{name}}!   <small><a href="/logout">[sign out]</a></small></h1>
    <br>

    <a href="/about-me">about me</a> |

    <a href="/my-playlists">my playlists</a> |

    <a href="/currently-playing">currently playing</a> |

    <a href="/top-50">top 50</a> |

    <a href="/search">search</a> |

    <a href="/download-data">download data</a>
    <br>

    <h2>On This Date {{today}}:</h2>
    {{ on_this_date|safe }}
    <ul>
        {% for item in first_times %}
            <li>{{item|safe}}</li>
        {% endfor %}
    </ul>        

    {{ full_timeline|safe }}
    <hr>

    <h2>My Most Recent Activity:</h2>
    <h3>{{ last_added_playlist[0] }} days ago, I added {{ last_added_playlist[2] }} songs to {{ last_added_playlist[3] }} playlists</h3>
    {{ last_added_playlist[1]|safe }}
    <hr>

    <h2>My Library Totals:</h2>
    <h3>Across {{ overall_data[2] - 1 }} playlists, I've added {{ overall_data[0] - overall_data[5] }} songs and liked {{ overall_data[5] }} songs</h3>
    <h3>My playlists have {{ overall_data[1] }} unique songs, {{ overall_data[4] }} unique albums, and {{ overall_data[3] }} unique artists</h3>

</body>

</html>