<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .wrapper { display: flex;
                flex-wrap: wrap;
                justify-content: flex-end; }

            .div1 { flex-basis: 25%; }
            .div2 { flex-basis: 50%; }
            .div3 { flex-basis: 75%; }
            .div4 { flex-basis: 100%; }

            h1 {text-align: center;}
            h2 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>My Playlists Page</h1>
    <hr>
    <body>
        <h2>Playlists Length By Length & Explicitness</h2>
        <div class="wrapper">
            <div class="div div2">
                {{ playlists_by_length }}
            </div>
            <div class="div div2">
                {{ playlists_by_explicit }}
            </div>
        </div>
        <hr>

        <h2>Playlists by Top 50 Songs / Artists</h2>
        <div class="wrapper">
            <div class="div div2">
                {{ top_playlists_by_songs }}
            </div>
            <div class="div div2">
                {{ top_playlists_by_artists }}
            </div>
        </div>
        <hr>

        <h2>Playlists' Audio Features</h2>
        {{ avg_boxplot }}
        <hr>

        <h2>Playlist Timelines</h2>
        {{ first_last_added }}
        <hr>
    </body>

</html>