<!DOCTYPE html>
<html lang="en">
    <head>
        <style>

            h1 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>There are {{ length }} songs that appear in the following playlists: {{ playlists }} </h1>

    <body>
        {% if length > 0 %}
            <ul>
            {% for item in df %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>

</html>