<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>

    <body>
        <h1>Analyze by Search Mode</h1>
        <h3>Enter any number of your own playlists or any number of artists to compare!</h3>
        
        <form class="example" method="post" action="/search" 
            style="margin:auto;max-width:600px">
            <input type="text" placeholder="Enter names of playlists or artists" name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <h4>Analyze Playlist: 'Rap'</h4>
        <h4>Compare Playlists: 'Rap, Casual Hip Hop, Chill Rap'</h4>
        <h4>Analyze Artist: 'AJR'</h4>
        <h4>Compare Artists: 'AJR, American Authors, All Time Low'</h4>
        <h4>Analyze Song (MUST USE ID): '1kPpge9JDLpcj15qgrPbYX'</h4>
        <p>To find ID of song, right click - Share - Copy Song Link - /track/<b>1kPpge9JDLpcj15qgrPbYX</b>?si=</p>

    </body>

</html>