<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .wrapper { display: flex;
                flex-wrap: wrap;
                justify-content: flex-end; }

            .div1 { flex-basis: 25%; }
            .div2 { flex-basis: 50%; }
            .div3 { flex-basis: 75%; }
            .div4 { flex-basis: 100%; }

            h1 {text-align: center;}
            h2 {text-align: center;}
    
        </style>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <h1>Analysis of Top 50 Songs / Artists</h1>

    <body>
        <h2>Song Audio Features</h2>
        {% for item in song_boxplots %}
            {{ item }}
        {% endfor %}
        <hr>

        <h2>Artist AVG Audio Features</h2>
        {% for item in artist_boxplots %}
            {{ item }}
        {% endfor %}
        <hr>

        <h2>Top Genres</h2>
        {% for item in genres_bars %}
            {{ item }}
        {% endfor %}
    </body>

</html>